ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;

}

.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    margin-top: 30px;
    
}

body {
    max-width: 1128px;
    padding: 24px;
    margin: 0 auto;
}

.gallery-image {
    max-width: 360px;
    height: 200px;
}